body
	margin: 0 0 0 0
	padding 0
	width 378px
	color-adjust exact

section.wrap
	width 378px
	article.carton
		width 378px
		height 150px
		box-sizing: border-box
		border 1px solid #000
		position: relative;
		text-align center;
		overflow hidden
		div.numero
			box-sizing: border-box
			width 41.7px
			height 50px
			float left
			text-align center
			border 1px solid #000
			font-size 1.5em
			line-height 30px
			background #ccc	
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			&:nth-child(even)
				background #eee
	label
		font-size .7em
		font-weight bold
span.promo
	position absolute
	font-size 1.8em
	font-weight bold
	margin-top -85px
	opacity .3
	transform: rotate(-15deg);
	z-index 2000
