{% extends "password_reset_form.html" %}

{% block content %}
    {% if validlink %}
        <p>Introduzca su nueva contraseña dos veces.<br />
           Así que podemos verificar que lo escribió correctamente.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuevo password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
    <h1>Restablecimiento de la contraseña sin éxito</h1>
    <p>El enlace de restablecimiento de contraseña no era válido, <br />
        Posiblemente porque ya se ha utilizado. <br />
        Solicite una nueva contraseña restablecida.</p>
    {% endif %}
{% endblock %}