{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block titulo %}
	Bingos Marvel | Editar Partida
{% endblock titulo %}

{% block titulo_page %}
	Editar Partida
{% endblock titulo_page %}


{% block main %}
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                             Editar Partida
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal " method="post" id="editPartida">
                              {% csrf_token %}

                              {{form.id}}
                                  
                                 <div class="form-group">
                                  <div class="alert alert-danger alert-dismissable"style="display:none;width:98%;margin:auto" id="ErrorFecha">
                                      <strong>Error!</strong> 
                                        <span>Indicates a successful or positive action.</span>  
                                    </div>
                                    <div id="ErrorFechaBR" style="display:none"><br></div>
                                    <!--Fin Error -->
                                      <label class="col-sm-2 control-label">
                                        {{form.fecha.label}}
                                      </label>
                                      <div class="col-sm-10">
                                        {{form.fecha}}
                                      </div>
                                  </div>
                                  
                                 <div class="form-group">
                                  <div class="alert alert-danger alert-dismissable"style="display:none;width:98%;margin:auto" id="ErrorOrganiza">
                                      <strong>Error!</strong> 
                                        <span>Indicates a successful or positive action.</span>  
                                    </div>
                                    <div id="ErrorOrganizaBR" style="display:none"><br></div>
                                    <!--Fin Error -->
                                      <label class="col-sm-2 control-label">
                                        {{form.organiza.label}}
                                      </label>
                                      <div class="col-sm-10">
                                        {{form.organiza}}
                                      </div>
                                  </div>

                        <div class="form-group">
                          <div class="alert alert-danger alert-dismissable"style="display:none;width:98%;margin:auto" id="ErrorSorteo">
                            <strong>Error!</strong> 
                            <span>Indicates a successful or positive action.</span>  
                          </div>
                          <div id="ErrorSorteoBR" style="display:none"><br></div>
                          <!--Fin Error -->
                          <label class="col-sm-2 control-label">
                            {{form.sorteo.label}}
                          </label>
                          <div class="col-sm-10">
                            {{form.sorteo}}
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="alert alert-danger alert-dismissable"style="display:none;width:98%;margin:auto" id="ErrorTransmite">
                            <strong>Error!</strong> 
                            <span>Indicates a successful or positive action.</span>  
                          </div>
                          <div id="ErrorTransmiteBR" style="display:none"><br></div>
                          <!--Fin Error -->
                          <label class="col-sm-2 control-label">
                            {{form.transmite.label}}
                          </label>
                          <div class="col-sm-10">
                            {{form.transmite}}
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="alert alert-danger alert-dismissable"style="display:none;width:98%;margin:auto" id="ErrorPrecio">
                            <strong>Error!</strong> 
                            <span>Indicates a successful or positive action.</span>  
                          </div>
                          <div id="ErrorPrecioBR" style="display:none"><br></div>
                          <!--Fin Error -->
                          <label class="col-sm-2 control-label">
                            {{form.precio.label}}
                          </label>
                          <div class="col-sm-10">
                            {{form.precio}}
                          </div>
                        </div>

                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_1.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_1}}
                                      {{form.monto_1}}
                                      </div>
                                  </div>

                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_2.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_2}}
                                      {{form.monto_2}}
                                      </div>
                                  </div>

                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_3.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_3}}
                                      {{form.monto_3}}
                                      </div>
                                  </div>

                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_4.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_4}}
                                      {{form.monto_4}}
                                      </div>
                                  </div>

                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_5.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_5}}
                                      {{form.monto_5}}
                                      </div>
                                  </div>
 
                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_6.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_6}}
                                      {{form.monto_6}}
                                      </div>
                                  </div>
 
                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.premio_7.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.premio_7}}
                                      {{form.monto_7}}
                                      </div>
                                  </div>
 
                                 <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.lineasEnJuego.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.lineasEnJuego}}
                                      </div>
                                  </div>
 
                                  <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.condiciones.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.condiciones}}
                                      </div>
                                  </div>

                                   
                                  <div class="form-group">
                                    <label class="col-sm-2 
                                    control-label">
                                    {{form.cartonBlank.label}}
                                    </label>
                                      <div class="col-sm-10">
                                      {{form.cartonBlank}}
                                      </div>
                                  </div>

                    <div class="form-group" style="margin-left:20px;overflow:hidden;width:400px;height:130px">
                          
                          <a href="" id="triggerFile" style="padding:0px;box-sizing:border-box">
                          <label for="">Logo</label><br>
                        {% thumbnail partida.thumb "400x100" crop="center" as im %}
                              <img width="400px" height="100px" id="blah" class="img-border" src=
                              "{{ im.url }}">   
                            {% endthumbnail %}
                           </a>
                        {{form.thumb}}
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 
                                    control-label">
                          {{form.t1f.label}}
                        </label>
                      Fondo {{form.t1f}}
                      Lineas {{form.t1l}}
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 
                                    control-label">
                          {{form.t2f.label}}
                        </label>
                      Fondo {{form.t2f}}
                      Lineas {{form.t2l}}
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 
                                    control-label">
                          {{form.t3f.label}}
                        </label>
                      Fondo {{form.t3f}}
                      Lineas {{form.t3l}}
                      </div>

                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <button type="button" class="btn btn-primary" onclick="Javascript:location.href='/partida/'; void(0);">Cancelar</button>
                          <button type="submit" class="btn btn-success">Crear</button>
                        </div>
                      </div>


                  </form>
                          </div>
                      </section>	
  				</div>
  			</div>
	

{% endblock main %}


{% block js %}
  

<script>
$('#triggerFile').on('click', function(e){
        e.preventDefault()
        $("#id_thumb").trigger('click')
    });
// cargar img 
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_thumb").change(function(){
    readURL(this);
});
</script>

<script>
$('#id_fecha').datepicker();

$( document ).ready(function() {
    $('#id_fecha').val(convertDateFormat($('#id_fecha').val()));
});


function convertDateFormat(string) {
  var info = string.split('-');
  return info[1] + '/' + info[2] + '/' + info[0];
}
</script>

<script src="{% static "js/partidas.js" %}"></script>

{% endblock js %}