{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bingos En Linea</title>

	<link rel="stylesheet" href="{% static "css/tablero.css" %}">

<style>
	ul{
		text-align: left;
		width:300px;
		margin: auto;
		margin-bottom: 10px;
		font-size: 1.3em;
	}
	h1{
		margin-bottom: -20px;
	}
	h3{
		margin-bottom: 5px;
	}
</style>
</head>
<body>

<center>
	{% thumbnail user.userprofile.sala.thumb "200x200" crop="center" as im %}
    	<a href="/"><img src="{{ im.url }}" style="border-radius:50%"></a>
    {% endthumbnail %} 
    {% for p in partida%}
    <script>_Id = '{{p.id}}';</script>
    	<h1>PARTIDA: {{p.id}}</h1>

	{% endfor %}
    <h3>Configuración {{TipoP}}</h3>
</center>

<center>
	{% if user.is_superuser %}
		<button id="iniciar" disabled="disabled">Iniciar</button>	
	{% endif %}
</center>


<script src="{% static "js/jquery.js" %}"></script>


<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
<script>
 

	
document.getElementById("iniciar").addEventListener("click", function(){

		$.get("/partida/iniciar/?id=" + _Id, function(data, status){

             location.reload(); 
		});
	});

  $( document ).ready(function() {
    setTimeout(function(){
                document.getElementById("iniciar").disabled  = false;
            },5000);
  });

</script>

</body>
</html>